main {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  padding-right: 14vw;
}

.card {
  color: var(--primary-txt-clr);
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-inline: 60px;
  padding-block: 30px;
  border-radius: 20px;
  box-shadow: 8px 8px 25px -15px var(--accent-clr),
    -8px -8px 25px -15px var(--accent-clr-2);
  border: 1px solid var(--secondary-txt-clr);
  transition: all ease 0.2s;
  pointer-events: none;
}
.card:hover {
  background-color: var(--primary-bg);
}
.btn {
  pointer-events: all;
  background: linear-gradient(
    to top left,
    var(--accent-clr),
    var(--accent-clr-2)
  );
  margin-block: 15px;
  color: var(--secondary-bg);
  padding: 7px 30px;
  border: 1px solid var(--primary-txt-clr);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.2s;
}
.btn:hover {
  background: red;
  color: white;
}
